/* Default style for normalize */
.body__task-list {
  margin: 0;
  padding: 0px;
}
.body__list-item,
.body__title {
  list-style: none;
}
.body__input,
.body__button {
  outline: none;
}
/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }
}
.main-page {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.list-item__task,
.list-item__task-name,
.task-wrapper__task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.task-wrapper {
  display: flex;
}

.task-wrapper__add-task-button,
.list-item__button_edit,
.list-item__button-delete {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.task-wrapper__add-task-button:hover,
.list-item__button_edit:hover,
.list-item__button-delete:hover {
  color: #3a3a3a;
}
/* Heading */
.add-task__title,
.tasks-todo__title,
.tasks-completed__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.task-wrapper__task-input,
.list-item__task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.task-wrapper__task-input:focus {
  color: #333;
}

/* New Task */
.add-task__title {
  display: block;
  margin: 0 0 20px;
}
.task-wrapper__task-input {
  width: 318px;
}

/* Task list */
.body__list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.body__list-item > * {
  vertical-align: middle;
}

.list-item__checkbox {
  margin: 0 10px;
}
.list-item__task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.list-item__task {
  width: 226px;
}
.list-item__image-delete {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.list-item__image-delete:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks-completed__task-list .list-item__task-name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.list-item__task {
  display: none;
}

.tasks-todo__list-item_edit-mode .list-item__task {
  display: inline-block;
  width: 224px;
}

.tasks-todo__list-item_edit-mode .list-item__task-name {
  display: none;
}